@model IEnumerable<MVCWeather.Models.Weather>

@{
    ViewData["Title"] = "Index";
}


<div class="container text-center">
    <h1 class="display-4">Weather</h1>
    <form>
        <div class="mb-3">
            <label for="city" class="form-label">Type in the city below:</label>
            <input type="text" class="form-control" id="city">
        </div>
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>
</div>


<div class="container"> 
    <div class="row row-cols-1 row-cols-md-2 g-5">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="~/image/sun.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Edmonton</h5>
                    <p class="card-text">Temp: 26</p>
                </div>
            </div>
        </div>
        @foreach (var item in Model) {
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="~/image/sun.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.city</h5>
                        <p class="card-text">Temp: @item.temp</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>






@*
@model IEnumerable<MVCWeather.Models.Weather>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.condition)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.condition)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

*@
