@model MVCWeather.Models.Weather
@{
    ViewData["Title"] = "Weather";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>
    <p>Type in the city</p>
    <p> The city is @Model.city</p>
</div>

<div class="container"> 
    <div class="row row-cols-1 row-cols-md-2 g-4">
        
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/image/sun.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.city</h5>
                    <p class="card-text">Temp: @Model.temp</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/image/sun.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.city</h5>
                    <p class="card-text">Temp: @Model.temp</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/image/sun.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Model.city</h5>
                    <p class="card-text">Temp: @Model.temp</p>
                </div>
            </div>
        </div>

    </div>
</div>
